.container-project {
    flex: 1;
    padding: 30px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

textarea {
    color: rgb(0, 0, 0);
    font-size: 16px;
    width: 100%;
    height: auto;
    border: none;
    font-weight: bold;
    box-sizing: border-box;
    background-color: transparent;
    font-size: 45px;
    resize: none;
    font-family: 'Inter';
}

textarea:-webkit-autofill,
textarea:-webkit-autofill:focus,
textarea:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px #282828 inset !important;
    -webkit-text-fill-color: rgb(255, 255, 255) !important;
    border: transparent;
    outline: none;
}

textarea::placeholder {
    color: #585858;
    opacity: 0.8;
}

textarea:focus {
    outline: none;
    border: none;
}

.container-form-describe {
    display: flex;
    flex-direction: column;
    gap: 5px;

    textarea {
        color: white;
        font-size: 15px;
        padding-left: 0;
    }

    .label {
        font-size: 18px;
    }
}


.container-files {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
    transition: background-colo 0.2s;
    box-sizing: border-box;
}

.is-dragging {
    border: white dashed 3px;
    background-color: hsla(0, 0%, 100%, 0.1);
    border-radius: 5px;
}

.container-file {
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 15px;
    width: 100%;
    overflow-x: scroll;
    height: auto;
    padding-bottom: 20px;
}

.div-flex {
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 18px;

    img {
        height: 15px;
        width: 15px;
        padding: 10px;
        cursor: pointer;
        transition: 0.2s background-color;
        border-radius: 5px;

        &:hover {
            background-color: #141414;
        }
    }
}

.container-assigned-users {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
}

.assigned-users {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}

.assigned-user {
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}

.pp {
    height: 30px;
    width: 30px;
    background-color: #141414;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.img-pp {
    height: 100%;
    width: 100%;
    object-fit: cover;
    animation: 0.4s enter;
}

.img-delete {
    height: 60%;
    animation: 0.4s enter;
    transition: transform 0.3s;

    &:hover {
        transform: scale(0.7);
    }
}

p {
    margin: 0;
}

.add-collaborators {
    border: 2px white dashed;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    height: 35px;
    background-color: hsla(0, 0%, 64%, 0.4);
    cursor: pointer;
    border-radius: 5px;
    padding-inline: 10px;
    padding-block: 5px;
    gap: 10px;
    position: relative;
    transition: 0.2s border-radius;

    p {
        background-color: transparent;
        padding: 0;
    }
}

.img-collab {
    height: 80%;
}

.border-radius-top {
    border-radius: 5px 5px 0px 0px;
}

.container-list-all-user {
    position: absolute;
    max-height: 200px;
    height: auto;
    width: 100%;
    top: 37px;
    left: 0;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    padding-block: 10px;
    box-sizing: border-box;
    border: solid 2px white;
    border-radius: 0px 0px 5px 5px;
    background-color: #252525;
    z-index: 999;
    animation: 0.2s enter;
}

.user-hovering {
    padding-inline: 10px;
    padding-block: 5px;

    &:hover {
        background-color: #323232;
    }
}

@keyframes enter {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.container-task {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.resizable-table {
    width: min-content;
    max-width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    border-radius: 10px;
    overflow: hidden;

    textarea {
        color: rgb(255, 255, 255);
        font-size: 14px;
        width: 100%;
        height: auto;
        border: none;
        font-weight: bold;
        box-sizing: border-box;
        background-color: transparent;
        resize: none;
        font-family: 'Inter';
    }
}

.resizable-table td,
.resizable-table th {
    vertical-align: top !important;
    text-align: left !important;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    border: 1px solid #ccc;
    padding: 8px;
    overflow: hidden;
    white-space: nowrap;
    resize: both;
    width: 200px
}

th {
    cursor: col-resize;
    font-size: 17px;
}

td {
    font-size: 14px;
}


tbody {
    position: relative;
}

.container-cells-task {
    height: 100%;
    width: 100%;
    display: flex;
    gap: 10px;
    position: relative;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 5px;
    padding-top: 5px;
    box-sizing: border-box;

    img {
        height: 20px;
        width: 20px;
        cursor: pointer;
        transition: transform 0.3s;

        &:hover {
            transform: scale(0.75);
        }
    }
}

.container-other-status {
    display: flex;
    align-items: center;
    justify-content: left;
    height: 28px;
    background-color: #181818;
    position: absolute;
    width: auto;
    top: 50%;
    left: 30px;
    transform: translateY(-50%);
    gap: 15px;
    animation: enter-status 0.5s;
    padding: 10px;
    border-radius: 5px;
}

@keyframes enter-status {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        transform: translateY(-50%);
    }
}

.violet-back {
    background-color: #A85BF257;
}

.yellow-back {
    background-color: #FAB14380;
}

.pink-back {
    background-color: #DC4C9166;
}

.violet-point {
    background-color: #9B61D3E8;
}

.yellow-point {
    background-color: #DD9A22E8;
}

.pink-point {
    background-color: #D85795E8;
}

.grey-back {
    background-color: #FFFFFF21;
}

.grey-point {
    background-color: #9B9B9B;
}

.container-option {
    display: flex;
    align-items: center;
    gap: 5px;
    width: auto;
    font-weight: normal;
    font-family: 'Inter Normal';
    padding-inline: 10px;
    padding-block: 5px;
    border-radius: 5px;
    cursor: pointer;
    word-break: keep-all;
    white-space: nowrap;

    &:hover {
        p {
            text-decoration: underline;
        }
    }
}

.point {
    height: 8px;
    width: 8px;
    border-radius: 100%;
}

.user-available {
    width: 300px;
    border-radius: 5px;
}

.container-assigned-user-task {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}

.delete-user {
    height: 15px !important;
    width: 15px !important;
}

.red-back {
    background-color: #DE555373;
}

.green-back {
    background-color: #2D996480;
}

.blue-back {
    background-color: #337EA980;
}

.red-point {
    background-color: #DE5550E8;
}

.green-point {
    background-color: #2CA76AE8;
}

.blue-point {
    background-color: #337EA9E8;
}