.container {
    display: flex;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

.left,
.right {
    height: 100%;
    overflow: auto;
}

.left {
    background-color: #141414;
    width: 30%;
}

.right {
    background-color: #202020;
    flex: 1;
}

.resizer {
    width: 2px;
    background: #141414;
    cursor: col-resize;
}

.position-absolute {
    position: absolute;
    z-index: 9999;
}