@if(currentUser && currentUser.role === 'DIRECTOR') {

<div class="container-manage-user-page" (click)="onClickPage()">

    @for(user of users; track user) {
    <div class="container-user">
        <div class="container-pp">
            <img [src]="user.profilePhoto">
        </div>
        <p> {{ user.firstName }} {{ user.lastName }}</p>
        <div class="container-role">
            @if(isUserClicked(user.id) && user.role != 'NOT_ACTIVATE') {
            <div class="container-action-role" (click)="onClickContainerRole($event)">
                @for(role of roles; track role) {
                <p (click)="onClickModifyRole(user.id, role)" class="role"
                    [ngClass]="{'red-back' : role === 'DIRECTOR', 'green-back' : role === 'EMPLOYEE', 'blue-back' : role === 'MANAGER'}">
                    <span
                        [ngClass]="{'red' : role === 'DIRECTOR', 'green' : role === 'EMPLOYEE', 'blue' : role === 'MANAGER'}">
                        •</span> {{ role }}
                </p>
                }
            </div>
            }
            <p class="role" (click)="onClickRole(user.id, $event)"
                [ngClass]="{'red-back' : user.role === 'DIRECTOR', 'green-back' :  user.role === 'EMPLOYEE', 'blue-back' :  user.role === 'MANAGER', 'grey-back' : user.role === 'NOT_ACTIVATE'}">
                <span
                    [ngClass]="{'red' :  user.role === 'DIRECTOR', 'green' :  user.role === 'EMPLOYEE', 'blue' :  user.role === 'MANAGER'}">
                    •</span> {{ user.role }}
            </p>
        </div>
        <div class="container-action">
            @if(user.role === 'NOT_ACTIVATE') {
            <p class="grey" (click)="onClickEnable(user.id)"> Activer </p>
            }@else {
            <p class="grey" (click)="onClickDisable(user.id)"> Désactiver </p>
            }
            <p class="red" (click)="onClickDelete(user.id)"> Supprimer </p>
        </div>

    </div>
    }

</div>
} @else {
<div class="container-error">
    <p>FORBIDDEN <br> <span> 403</span> </p>
</div>
}