.container-manage-user-page {
    height: 100%;
    width: 100%;
    display: flex;
    align-content: left;
    gap: 15px;
    padding: 30px;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: auto;
    flex-direction: column;

    .container-user:nth-child(odd) {
        background-color: #303030;
    }

    .container-user:nth-child(even) {
        background-color: #3d3d3d;
    }
}

.container-user {
    width: 100%;
    min-height: 60px;
    height: 60px !important;
    background-color: #303030;
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 20px;
}

.container-pp {
    margin-left: 25px;
    height: 40px;
    width: 40px;
    border-radius: 5px;
    overflow: hidden;

    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}

.container-action {
    flex: 1;
    display: flex;
    gap: 20px;
    justify-content: right;
    align-items: center;
    margin-right: 20px;

    p {
        font-size: 13px;
        cursor: pointer;

        &:hover {
            text-decoration: underline;
        }
    }
}

.container-role {
    position: relative;
}

.container-action-role {
    position: absolute;
    height: auto;
    width: auto;
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 10px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding-inline: 15px;
    padding-block: 10px;
    border-radius: 3px;
    animation: 0.2s enter;
    background-color: #252525;
    z-index: 9999;
}

p {
    margin: 0;
}

.point {
    height: 8px;
    width: 8px;
    border-radius: 100%;
}

.container-roles-options {
    display: flex;
    align-items: center;
    gap: 5px;
    height: auto;
    width: auto;
    font-weight: normal;
    font-family: 'Inter Normal';
    padding-inline: 10px;
    padding-block: 5px;
    border-radius: 5px;
    cursor: pointer;
    word-break: keep-all;
    white-space: nowrap;
    font-size: 14px;

    &:hover {
        p {
            text-decoration: underline;
        }
    }
}

.red {
    color: #DE5550E8;
}

.grey {
    color: #9B9B9B;
}

.role:hover {
    text-decoration: underline;
}

.red-back {
    background-color: #DE555373;
}

.green-back {
    background-color: #2D996480;
}

.blue-back {
    background-color: #337EA980;
}

.red-point {
    background-color: #DE5550E8;
}

.green-point {
    background-color: #2CA76AE8;
}

.blue-point {
    background-color: #337EA9E8;
}

.grey-back {
    background-color: #FFFFFF21;
}

.grey-point {
    background-color: #9B9B9B;
}

@keyframes enter {
    0% {
        opacity: 0;
        transform: translate(-50%, 20px);
    }

    100% {
        opacity: 1;
        transform: translate(-50%, -50%);
    }
}

.container-error {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    p {
        font-family: 'Inter Bold';
        font-size: 60px;
        text-align: center;
    }

    span {
        font-size: 60px;
        word-break: keep-all;
        white-space: nowrap;
        color: #E5252A
    }
}