@font-face {
    font-family: 'Inter';
    src: url('../public/police/Inter-SemiBold.ttf');
}

html,
body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    background-color: #191919;
    overflow-y: auto;
    overflow-x: hidden;
    color: white;
    font-family: 'Inter';
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    z-index: 50;
}

::-webkit-scrollbar-track {
    background: #222;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #555;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #999;
}

::-webkit-scrollbar-corner {
    background: #222;
}