<div class="container-all-project">

    <div class="container-background-project" (drop)="onFileDropped($event)" (dragover)="onDragOver($event)"
        (dragleave)="onDragLeave($event)" [ngClass]="{'is-dragging' : isDragging}">
        @if(project != undefined) {
        <img [src]="project.srcBackground" class="projet-background">
        }

        <div class="container-buttons">
            @if(user && (user.role === 'DIRECTOR' || user.role === 'MANAGER')) {
            <div class="container-button" (click)="onClickDelete()">
                <img [src]="srcDelete">
            </div>
            <div class="container-button" (click)="onClickEdit()">
                <img [src]="srcEdit">
            </div>
            }
            <div class="container-button">
                <img [src]="srcTask">
            </div>
            <div class="container-button">
                <img [src]="srcMessage">
            </div>

        </div>

        <form [formGroup]="formGroupName" class="container-form-name">
            <textarea maxlength="100" rows="1" formControlName="inputName" (blur)="onInputBlurName()"> </textarea>
        </form>
    </div>

    <app-detail-project></app-detail-project>


</div>