<div class="container-all-project">

    <div class="container-background-project" (drop)="onFileDropped($event)" (dragover)="onDragOver($event)"
        (dragleave)="onDragLeave($event)" [ngClass]="{'is-dragging' : isDragging}">
        @if(project != undefined) {
        <img [src]="project.srcBackground" class="projet-background">
        }

        <div class="container-buttons">
            @if(user && (user.role === 'DIRECTOR' || user.role === 'MANAGER')) {
            <div class="container-button" (click)="onClickDelete()">
                <img [src]="srcDelete">
            </div>
            <div class="container-button" (click)="onClickEdit()">
                <img [src]="srcEdit">
            </div>
            }
            <div class="container-button" (click)="displayDetailsProject()"
                [ngClass]="{'grey-background-color' : partOfProjectToDisplay}">
                <img [src]="srcTask">
            </div>
            <div class="container-button" (click)="displayMessageProject()"
                [ngClass]="{'grey-background-color' : !partOfProjectToDisplay}">
                <img [src]="srcMessage">
            </div>

        </div>

        <form [formGroup]="formGroupName" class="container-form-name">
            <textarea #autoArea (input)="autoResize($event)" maxlength="100" rows="1" formControlName="inputName"
                (blur)="onInputBlurName()"> </textarea>
        </form>
    </div>


    @if(partOfProjectToDisplay) {
    <div class="container-project-part-left">
        <app-detail-project class="detail"></app-detail-project>

    </div>
    }@else {
    <div class="container-project-part-right">
        <app-message class="message"></app-message>
    </div>
    }

</div>