<div class="container-all-project">

    <div class="container-background-project">
        <div class="container-delete-button" (click)="onClickDelete()">
            <img [src]="srcDelete">
        </div>

        <form [formGroup]="formGroupName" class="container-form-name">
            <textarea maxlength="100" rows="1" formControlName="inputName" (blur)="onInputBlurName()"> </textarea>
        </form>
    </div>

    <div class="container-project">
        <form [formGroup]="formGroupDescription" class="container-form-describe">
            <label class="label">Description : </label>
            <textarea maxlength="1000" formControlName="inputDescription" (blur)="onInputBlurDescription()"> </textarea>
        </form>

        <div class="container-files">
            @for (file of files; track file.id) {
            <app-file [file]="file"></app-file>
            }
        </div>
        <div class="container-task">
            @for(task of tasks; track task.id) {
            <app-task [task]="task"></app-task>
            }
        </div>
    </div>


</div>