<div class="container-menu">

    <div class="container-buttons">
        <div class="container-button" (click)="onClickLogout()" title="déconnexion">
            <img [src]="srcDeconnexion">
        </div>
        <div class="container-button" (click)="onClickAccueil()" title="accueil">
            <img [src]="srcHome">
        </div>
        @if(user && (user.role === 'DIRECTOR' || user.role === 'MANAGER')) {
        <div class="container-button" (click)="addNeWproject()" title="ajouter un nouveau projet">
            <img [src]="srcAdd">
        </div>

        <div class="container-button" title="Gérer les utilisateurs">
            <img [src]="srcUsers">
        </div>
        }
    </div>

    <div class="container-welcome">
        @if(user) {
        <div class="container-pp" (click)="onClickPp()">
            <div class="pp-hovering">
                <img [src]="srcEdit">
            </div>
            <img [src]="user.profilePhoto">
        </div>
        <p> {{ user.firstName }} {{ user.lastName }}</p>
        <div class="container-info-user">
            <p class="grey-text"> • {{ user.email}}</p>
            <p class="grey-text"> • {{ user.role}}</p>
        </div>
        }
    </div>

    <div class="container-project-list">
        <div class="container-title-project" (click)="onActivateProject()"
            [ngClass]="{'grey-background' : activateProjects}">
            <p> • Liste de vos projets</p>
        </div>
        <div class="container-projects" [ngClass]="{'hidden' : !activateProjects, 'visible' : activateProjects}">
            @for (project of projects; track project.id) {
            <div class="project" title="voir les détails du projet" (click)="onClickedProject(project.id)"
                [ngClass]="{'grey-background' : projetIsClicked(project.id)}">
                <p> {{ project.name }}</p>
            </div>
            }
        </div>
    </div>

</div>