<div class="container-login-page">
    <div class="container-login">
        <div class="container-form">
            <p class="title">S'identifier</p>
            <form [formGroup]="formGroup">
                <input formControlName="inputEmail" [placeholder]="placeHolderEmail">
                <div class="container-input-password">
                    <input formControlName="inputPassword" [placeholder]="placeHolderPassword" [type]="type">
                    <img [src]="srcImagePassword" (click)="onClickVisibilityPassword()">
                </div>
                <p> {{ message }} </p>
                <button type="submit" (click)="onSubmit()">S'identifier</button>
                <div class="button-register" (click)="onClickRegister()">
                    <p>Créer un compte</p>
                </div>
            </form>
        </div>
    </div>
</div>